:root {
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%)
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    display: block;
}

.jessica {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}