*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%)
}

body {
    background-color: black;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: var(--grey-700);
    width: 275px;
    height: auto;
    padding-top: 25px;
    border-radius: 10px;
    padding-bottom: 25px;
}

img {
    display: block;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: auto;
}

.jessica-p {
    font-size: 14px;
    padding-top: 25px;
    text-align: center;
    color: var(--color-white);
    font-family: "Inter", "Verdana", sans-serif;
    font-weight: 700;
}

.london {
    padding-top: 10px;
    font-size: 10px;
    text-align: center;
    color: var(--color-green);
    font-family: "Inter", "Verdana", sans-serif;
    font-weight: 600;
}

.frontend {
    padding-top: 25px;
    font-size: 10px;
    text-align: center;
    color: #dddddd;
    font-family: "Inter", "Verdana", sans-serif;
    font-weight: 700;
}